.QuizData {
    border: 1px solid black;
    flex: 0.7;
    text-align: center;
}

.queries {
    margin-top: 2rem;
}

.options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid yellow; */
    height: 5rem;
    width: 100%;
}

.option {
    width: 20rem;
    border: 1px solid green;
    /* flex: 0.5; */
    background-color: salmon;
    margin: 0.5rem;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}
 
.QuizData button {
    width: 8rem;
    background-color: green;
    margin: 2rem;
}

.tick {
    background-color: blueviolet;
}

.ans {
    display: flex;
    margin-right: 1rem;
}